<template>
    <div class="conteneur">
        <div class="tit">
            <p id="pas">Pas grave !!!</p>
        </div>
        <hr>
        <p>Vous hesitez encore ? Nous pouvons toujours prendre rendez-vous pour parler de votre projet !</p>
        <div class="lie">
            <a href="#">Non Merci</a>
            <a href="#" id="bt">Prendre RDV</a>

        </div>

    </div>
</template>

<script>

    export default {
        name: 'confirmation du RDV',
        components: {


        }
    }
</script>
