$footerColor:  #FFA200;
$footBrown: #442503;
$whiteColor: rgb(253, 252, 252);
$font-family: 'Segoe UI' light;
$valeur:300px;
@mixin grid($valeur) {
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax($valeur,1fr));
  grid-gap:10px;
}



.footer{
  box-sizing: border-box;
  display: block;
  width: 100%;
  transform: translateY(100px);
}
.wrapper{
  box-sizing: border-box;
  padding:4em 1em ;
  background: $footBrown;
  display: block;
  clip-path: polygon(0 1%, 100% 11%, 100% 97%, 0 90%);
  -webkit-clip-path: polygon(0 1%, 100% 11%, 100% 97%, 0 90%);
}
.head-icon{
  display: flex;
  align-items: center;
  text-align: right;
}
.head-icon .span{
  width: 10px;
  height: 15px;
  transform: rotate(-45deg);
  margin-right: 10px;
  background: $whiteColor;
}
.head-icon .span-pa{
  color: $footerColor;
}
.head-text{
  font-size: 30px;
  color: $whiteColor;
  text-align: center;
}

.head-para{
  color: $whiteColor;
  font-family: $font-family;
}
.head-link .deco{
  float: right;
  text-decoration: none;
  color: $whiteColor;
  border: 1px solid $whiteColor;
  padding: 12px;
  margin: 5px;
}
.footer .contains{

  background: $footerColor;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
  margin: .1em;
  margin-top: -4em;
  padding-bottom: 16em;
}
.footer .contains .hd{
  font-size: 30px;
  margin-left:  1em;
}
.footer .contains .hd .footer-div{
  border: 1px solid $whiteColor;
  background: $whiteColor;
  height: 1px;
  width: 250px;
  text-align: center;
  margin-left:  1em;
}
.txt{
  color: $whiteColor;
  font-size: 17px;
  margin-left: 1em;
  margin-right: 1em;
}
// for the input field
.footer-inputs{
  background: $footerColor;
  margin-left: 1em;
  margin-right: 1em;

  .footer-input{
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-fields{
      margin: 2em;

      input{
        height: 20px;
        background: rgb(236, 236, 236);
      }
      label{
        color: $whiteColor;
        float: left;
      }
    }
    .footer-field{
      margin: 2em;
      li{
        list-style: none;

        .check{
          display: inline-block;
          align-items: center;
        }
      }
      input{
        height: 20px;
        background: rgb(236, 236, 236);
      }
      label{
        color: $whiteColor;
        float: left;
      }
    }
  }
  .footer-btn{
    border: 1 px solid $footBrown;
    border-radius: 12px;
    background: $footBrown;

    .send{
      text-decoration: none;
      font-size: 20px;
      color: aliceblue;
      margin: 1em;
    }
  }
}
@media(max-width: 1000px){
  .footer-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}



// %p{
//   font-family:'Segoe UI light';
//   font-size:20px;
//   text-align:center;
// }
// %grand{
//   font-family:'Segoe UI light';
//   font-size:60px;
//   text-align:center;
// }
// .contain{
//   display: flex;
//   justify-content: center;
//   flex-direction:column;
//   align-items:center;
//   width:100%;
//   margin:0 auto;
//   // padding:20px 20px;
//   // background:white;
//   box-shadow: 10px 5px 24px -8px $footerColor;
//   .donnees{
//     // @include grid($valeur:400px);
//     // padding:10px 20px;
//     width:100%;
//     overflow: hidden;
//     article{
//       // margin:10px;
//       @extend %p;
//       text-align:left;
//       .espace{
//         position:relative;
//         &::after{
//           content: 'x';
//           position:absolute;
//           display:inline-block;
//           width:16px;
//           height:16px;
//           right:20%;
//         }
//         #text{
//           width:80%;
//           height:30px;
//           top:5px;
//         }
//       }
//       ul{
//         list-style:none;
//         li{
//           display:inline-block;
//           &:nth-child(2){
//             transform:translateX(50%);
//             display:inline-block;
//           }
//           .co{
//             display:inline-block;
//             #coche{
//               position:absolute;
//               width:15px;
//               height:15px;
//               appearance: none;
//               border:none;
//               text-align:center;
//               opacity:0;
//               &:checked{
//                 background: blue;
//                 background-position: no-repeat;
//               }

//             }
//             &::before{
//               content:'';
//               display:inline-block;
//               width: 15px;;
//               height:15px;
//               border:1px solid $footBrown;
//               border-radius:50%;
//               opacity:1;
//               margin:5px;
//               top:10px;
//             }

//           }

//           span#pa{
//             display:inline-block;
//             transform:translate(8px,-8px);
//           }

//         }
//       }
//     }


//   }
//   .send{
//     text-decoration:none;
//     cursor: pointer;
//     color:rgb(0, 0, 0, .4);
//   }
//   span{
//     display:inline-block;
//     margin-top:10px;
//     font-size:15px;
//     margin-left:20px;
//   }

// }
// .btn{
//   padding:10px 20px;
//   float:right;
//   background: $footBrown;
//   .send{
//     text-decoration:none;
//     cursor: pointer;
//     @extend %p;
//     color:white;
//   }
// }

// @media screen and (max-width:800px){
//   .contain{
//     // width:fit-content;
//     overflow:hidden;
//     padding:20px 10px;
//     .donnees{
//       width:100%;
//       article{
//         text-align:center;
//         // padding:20px 20px;
//         width: 100%;
//         ul{
//           transform: translateX(-15%);
//         }
//       }
//     }
//     .message{
//       padding:20px 20px;
//       text-align:center;
//       .file{
//         bottom:0%;
//       }
//     }
//   }
// }
// @media screen and (max-width:540px){
//   .contain{
//     overflow:hidden;
//     padding: 3px;
//     .donnees{
//       width:100%;
//       article{
//         text-align:center;
//         width: 100%;
//         ul{
//           transform: translateX(-15%);
//         }
//       }
//     }
//     .message{
//       padding: 3px;
//       text-align:center;
//       .file{
//         bottom:0%;
//       }
//     }
//   }
// }
.log{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -50px;
}
.log img{
  width: 100px;
  height: 64px;
}
.log .line{
  height: 3px;
  width: 950px;
  background: $whiteColor;
}

.ending{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $whiteColor;
  margin: 5em;

}
.ending .para{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}
.mother{
  display: flex;
  float: left;
  margin-bottom: 0;
  padding: 0;
  color: $whiteColor;
  flex-direction: column;
}
.mother .child1 p a{
  text-decoration: none;
  font-size: 1em;
  color: $whiteColor;
  margin-left: 3em;
}
.mother .child2 i{
  border: 1px solid $footBrown;
  background: $footBrown;
  margin: 5px;
  border-radius: 50%;
  color: white;
  padding: 1em;
  text-align: center;
  margin-left: 3em;
}
@media (max-width:1000px){
  .ending{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
    padding: 0;
    margin: 16px 0 0 3px;
  }

  .mother{
    margin: 0 auto;
  }
}
@media (max-width:700px){
  .ending{
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    font-size: 1em;
  }
}
