<template>
    <section class="excel_main">
        <div class="excel_main--upper">
            <div class="ms_description">
                <div class="ms_description--left">
                    <img src="/img/excelLogo.png" alt />
                </div>

                <div class="ms_description--right">
                    <h1>Microsoft Excel</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, veritatis soluta
                        . Delectus nostrum neque esse quod est velit, aliquid ipsa eveniet? Hic esse in odio
                        earum amet facere, quibusdam, magni dicta quam aliquid repellat minima, nemo fugiat
                        tempora? Voluptatem quis in quod? Eveniet nesciunt temporibus, neque soluta assumenda nostrum
                        dolorem corporis sed enim tempore perferendis consectetur dolore, porro tenetur beatae.
                    </p>
                    <button-grid></button-grid>
                </div>
            </div>

            <div class="ms_pricing">
                <div class="ms_pricing--left"></div>

                <div class="ms_pricing--right">
                    <div class="ms_pricing--right__up">
                        <div class="price1">
                            <div>Inscription</div>
                            <div>5.000 fcfa</div>
                        </div>

                        <div class="price2">
                            <div>Frais de Cours</div>
                            <div>124.000 fcfa</div>
                        </div>
                    </div>

                    <hr class="h-rule" />

                    <div class="ms_pricing--right__down">
                        <div class="n-contacter">
                            <button>Nous contacter</button>
                        </div>

                        <div class="inscrire">
                            <button>S'inscrire</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The two sections are separated by the green line -->
        <hr class="separator" />
        <div class="excel_main--lower">
            <!-- this represents the lower section of the page , containing the cards -->
            <div class="part_heading">Ceux qui ont consulté cette formation ont aussi consulté</div>

            <hr class="heading_underline" />
            <div class="part_content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repud
                iandae fugit autem ipsa error doloribus magnam sequi voluptatibus, aliquid eveniet sint
                facilis tenetur quasi magni dolore nostrum assumenda illum in praesentium!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quaerat?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, nobis!
            </div>
            <formation-cards></formation-cards>
        </div>
    </section>
</template>

<script>
    import Button_grid from "./module/buttongrid.vue";
    import Cards from "./module/card_grid";
    export default {
        components: {
            "button-grid": Button_grid,
            "formation-cards": Cards
        }
    };
</script>

