<template>
<div>
    <h1>Je suis un service</h1>
    <h1>Nos services disponibles..</h1>
    <hr>
    <p>
        upgrades offre un pack special pour toutes es nouvelles entreprises.. le sassaye cette annee
        est de tailleupgrades offre un pack special pour toutes es nouelles entreprises..le sassaye cette
        annee est de tailleupgrades offre un pack special pour toutes es nouvelles entreprises... le sassye cette annee est de
        taileupgrades offre un pack special pout toutes es nouvelles entreprises... le sassaye cette annee est de
    </p>


    <!-- this service page is built made up of two main components,
    one for the colored background section called coloredBackground.vue
    and the other for the section with six elements called gridBlock.vue. this components are called using mostly props.

    1) the "coloredBackground.vue" component takes four props namely: the bg which defines a class of styling for the color of the
    background, the image which defines the image that stands in the middle of the block, the upperText which defines the white bold text
    on the right hand of the screen, the lowerText which defines the text under the white bold text.


    2)the second component which is the "gridBlock.vue" component takes six props
    - heading1: which is the heading of the of the first grid element
    - p1:which is the text under the heading.
    - heading2, heading3, heading4, heading5,heading6 are all headings for their respective positions.
    - p2, p3, p4,p5,p6 are the text under the heading for their respective postions
    -->



    <!-- the first section of the page which is the section with the orange background-->
    <colored-background :bg="'bgOrange'" :image="'phones.png'"
                        :upperText="'Developpement dapplications Ios et Andriod'"
                        :lowerText="lowerText">
    </colored-background>

    <!-- the section section of the page which is the first section with grids-->
    <grid-block
            :heading1="txtReading"
            :p1="txtP"

            :heading2="txtReading"
            :p2="txtP"

            :heading3="txtReading"
            :p3="txtP"

            :heading4="txtReading"
            :p4="txtP"

            :heading5="txtReading"
            :p5="txtP"

            :heading6="txtReading"
            :p6="txtP"
    >

    </grid-block>


    <!-- the third section of the page which is the section with the blue background-->
    <colored-background :bg="'bgBlue'" :image="'computers.png'"
                        upperText="Developpement d'applications Ios et Andriod"
                        :lowerText="lowerText">
    </colored-background>


    <colored-background :bg="'bgBlue'" :image="'computers.png'"
                        :upperText="'Developpement dapplications Ios et Andriod'"
                        :lowerText="lowerText">
    </colored-background>



    <!-- the forth section of the page which is the second section with grids-->
    <grid-block
            :heading1="txtReading"
            :p1="txtP"

            :heading2="txtReading"
            :p2="txtP"

            :heading3="txtReading"
            :p3="txtP"

            :heading4="txtReading"
            :p4="txtP"

            :heading5="txtReading"
            :p5="txtP"

            :heading6="txtReading"
            :p6="txtP"
    >

    </grid-block>

    <!-- the fifth section of the page which is the section with the red background-->
    <colored-background :bg="'bgRed'"  :image="'packets.png'"
                        upperText="Developpement d'applications Ios et Andriod"
                        :lowerText="lowerText">
    </colored-background>


    <!-- the sixth section of the page which is the third section with grids-->

    <grid-block
            :heading1="txtReading"
            :p1="txtP"

            :heading2="txtReading"
            :p2="txtP"

            :heading3="txtReading"
            :p3="txtP"

            :heading4="txtReading"
            :p4="txtP"

            :heading5="txtReading"
            :p5="txtP"

            :heading6="txtReading"
            :p6="txtP"
    >

    </grid-block>


    <!-- the seventh section of the page which is the section with indigo color-->
    <colored-background :bg="'bgIndigo'" :image="'packets.png'"
                        upperText="Developpement d'applications Ios et Andriod"
                        :lowerText="lowerText"
    >
    </colored-background>


    <!-- the eight section  which is the last grid section-->
    <grid-block
            :heading1="txtReading"
            :p1="txtP"

            :heading2="txtReading"
            :p2="txtP"

            :heading3="txtReading"
            :p3="txtP"

            :heading4="txtReading"
            :p4="txtP"

            :heading5="txtReading"
            :p5="txtP"

           :heading6="txtReading"
            :p6="txtP"
    >

    </grid-block>


</div>
</template>

<script>
    import coloredBackground from './module/coloredBackground';
    import gridBlock from './module/gridBlock';
    export default {

        props:{

        },

        components:{
            coloredBackground,
            gridBlock

        },

        data(){
            return{
                p6:'',
                txtReading:'Gestion de Bases de donnees',
                txtP:'texte explicatif texte explicatif texte explicatif\n' +
                    '            texte explicatif text explicatif texte explicatif texte explicatif',
                lowerText:`upgrades offre un pack special pour toutes es nouvelles entreprises.. le
            sassaye cette annee est de tailleupgrades offre un pack special pour toutes es nouvelles entreprises..
                le sassaye cette annee est de tailleupgrade offre un pack special pour toutes es nouvelles entreprises...
            le sassaye cette annee est de tailleupgrades offre un pack special pour toutes es nouvelles entreprises...
            le sassaye cette annee`
            }
        },

        methods:{

        }
    }
</script>

