<template>
    <div class="contain">
        <div id="grand"><h3><slot name="titre"></slot></h3></div>
        <hr>
        <p> <slot name="texte"></slot> </p>
        <div class="donnees">
            <article>
                <label for="name">votre Nom</label>
                <div class="espace" @click="effacer1"> <input type="text" id="text" v-model="nom"> </div>
                <br><label for="name">Votre Téléphone</label>
                <div class="espace" @click="effacer2"> <input type="text" id="text" v-model="tel"> </div>
                <br><label for="name">Votre email</label>
                <div class="espace" @click="effacer3"> <input type="text" id="text" v-model="mail"></div><br>
                <label for="name">Etes vous un particulier ou une entreprise?</label>
                <ul>
                    <li><div :class="'co ' + checkeds" @click.prevent="check"> <input type="checkbox" id="coche"></div><span id="pa">particulier</span></li>
                    <li><div :class="'co ' + checked" @click.prevent="checks"><input type="checkbox" id="coche"></div><span id="pa">entreprise</span></li>
                </ul>
                <label for="name">Nom de votre entreprise/vos Services</label>
                <div class="espace" @click="effacer4"> <input type="text" id="text" v-model="nomen"></div>
            </article>
            <article>
                <label for="message">Votre message</label><br>
                <textarea>
                </textarea>
                <div class="file">
                    <a href="#"><i class="fas fa-file"></i></a><span id="pa">associer un document</span>
                </div>
                <ul id="icon">
                    <li id="font"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li id="font"><a href="#"><i class="fab fa-google-plus"></i></a></li>
                    <li id="font"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li id="font"><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </article>
        </div>
        <div class="sub">
            <a href="#">Annuler</a>
            <a href="#" id="btn">Envoyer</a>
        </div>

    </div>
</template>

<script>

    export default {
        name: "demanderFormation",
        data(){
            return{
                checked:'',
                checkeds:'',
                coche:false,
                nom:'',
                tel:'',
                mail:'',
                nomen:''
            }

        },
        methods:{
            check(){
                if(this.coche){
                    this.checked = ''
                    this.checkeds='cocher'
                }else{
                    this.checked = ''
                    this.checkeds=''
                }
                this.coche=!this.coche
            },
            checks(){
                if(this.coche){
                    this.checked = 'cocher'
                    this.checkeds=''
                }else{
                    this.checked=''
                    this.checkeds=''
                }
                this.coche=!this.coche
            },
            effacer1(){
                this.nom=''
            },
            effacer2(){
                this.tel=''
            },
            effacer3(){
                this.mail=''
            },
            effacer4(){
                this.nomen=''
            },
        }
    }
</script>
