.mybut_grid {
  display: grid;
  grid-template-columns: 38% 62%;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;

  @media(max-width:1100px){
    grid-template-columns: 48% 48%;
    justify-content: space-between;
  }

  @media(max-width:500px){
    grid-template-columns: 70%;
    justify-content: center;
  }
}
