$color-brown-main: #201101;
.butBody {
  display: flex;

  @media(max-width:1100px){
    flex-direction: column;
    text-align: center;

  }

  .mybut {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px 15px;
    background-color: $color-brown-main;
    border: none;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #2c1701;
    }

    @media(max-width:1100px){
      width:auto;

    }
  }

  label {
    margin-left: 10px;
    text-align: left;
    display: inline-block;
    color: #201101;
    font-family: sans-serif;
    font-size: 14px;
    padding:10px 0;
    @media(max-width:1100px){
      text-align: center;
      justify-content: center;
      margin-left: 0;

    }


    span{
      display:inline;
      align-items: center;
    }
  }
}
