<template>
    <div>
        <div>
            <h1>Formation en Bureautique De Base</h1>
            <span class="line"></span>
        </div>
        <p>Upgrade offre un pack special pour toutes es nouvelles enterprise... le sasseye cette annee est de tailleupgrades offre un pack special pour toutes es nouvelles enterprise... le sasseye cette annee est de tailleupgrades offre un pack special pour toutes es nouvelles enterprise... le sasseye cette annee est de tailleupgrades offre un pack special pour toutes es nouvelles enterprise... le sasseye cette annee est de tailleupgrades  </p>
        <div class="formation-select">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Rechercher une formation..." class="texts"/>
            <select>
                <option>Trier Par</option>
            </select>
        </div>

        <div class="cards">
            <cast></cast>
            <cast  imgSrc="publisher.png"  img-label="Microsoft Publisher"  main_color="orange" main_bgcolor="orangebg"></cast>
            <cast imgSrc="publisher.png"  img-label="LATEX"  main_color="gray" main_bgcolor="graybg"></cast>
            <cast imgSrc="publisher.png"  img-label="LATEX"  main_color="gray" main_bgcolor="graybg"></cast>
            <cast style=" margin-top: 20px" imgSrc="word.png"  img-label="Microsoft Word"  main_color="blue" main_bgcolor="bluebg"></cast>
            <cast style="margin-top:20px"></cast>
            <cast style="margin-top:20px"></cast>
            <cast style="margin-top:20px" imgSrc="publisher.png"  img-label="Microsoft Publisher"  main_color="orange" main_bgcolor="orangebg"></cast>
            <cast style="margin-top:20px" imgSrc="excel.png"  img-label="Microsoft Excel"  main_color="green" main_bgcolor="greenbg"></cast>
            <cast style="margin-top:20px" imgSrc="publisher.png"  img-label="Microsoft Publisher"  main_color="orange" main_bgcolor="orangebg"></cast>
            <cast style="margin-top:20px" imgSrc="publisher.png"  img-label="LATEX"  main_color="gray" main_bgcolor="graybg"></cast>
            <cast style="margin-top:20px" imgSrc="publisher.png"  img-label="LATEX"  main_color="gray" main_bgcolor="graybg"></cast>
            <cast style="margin-top:20px" imgSrc="word.png"  img-label="Microsoft Word"  main_color="blue" main_bgcolor="bluebg"></cast>
            <cast style="margin-top:20px" imgSrc="excel.png"  img-label="Microsoft Excel"  main_color="green" main_bgcolor="greenbg"></cast>
        </div>
    </div>
</template>

<script>

    import card from "./module/formationCard.vue";
    export default {
        name: "Formation",
        components: {
            cast: card
        }
    };
</script>

<style scoped>
</style>

