.cardBody {
  * {
    box-sizing: border-box;
  }

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.144),
  0 10px 10px rgba(0, 0, 0, 0.267);

  width:24%;


  .upBand {
    padding: 10px 0;
    width: 100.3%;
    margin-bottom: 30px;
  }

  .card_lower {
    padding: 20px 20px 20px 20px;
    width: 100%;

    .card_image {
      display: flex;
      margin: auto;
      margin-bottom: 20px;
      width: 180px;


      img {
        margin-right: 10px;
        width: 80px;
        height: 80px;
      }

      div {
        margin-top: 30px;

        text-align: center;
      }
    }


    .card_desc {
      margin-bottom: 25px;
    }

    .more {
      .more_s {
        padding: 2px 4px;
      }
    }

    .pricing {

      &__up {

        margin: 20px 0;

        .title {
          font-weight: bold;
          font-size: 17px;
        }

        .price {
          font-weight: 800;
        }
      }

      &__down {
        margin: 20px 0;

        .title {

          font-weight: bold;
          font-size: 17px;
        }

        .price {
          font-weight: 800;
        }
      }
    }

    .discover {
      margin: 30px 0;

      button {
        border: none;
        width: 100%;
        padding: 9px 0;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: #ffa200;
      }
    }
  }


}

.green {
  color: #75dc00;
}

.greenbg {
  background: #75dc00;
}

.orange {
  color: #ffa200;
}

.orangebg {
  background: #ffa200;
}

.gray {
  color: #bbb;
}

.graybg {
  background: #bbb;
}

.blue {
  color: blue;
}

.bluebg {
  background: blue;
}

@media (max-width:950px) {
  .cardBody {
    width: 100%;
  }
}

@media (max-width:780px) {
  .cardBody {
    margin-top: 70px;
  }
}
