<template>
    <div class="gridBlock">
        <div>
            <h3><span></span> {{heading1}}</h3>
            <div>{{p1}}</div>
        </div>

        <div>
            <h3><span></span> {{heading2}}</h3>
            <div>{{p2}}</div>
        </div>

        <div>
            <h3><span></span> {{heading3}}</h3>
            <div>{{p3}}</div>
        </div>

        <div>
            <h3><span></span> {{heading4}}</h3>
            <div>{{p4}}</div>
        </div>

        <div>
            <h3><span></span> {{heading5}}</h3>
            <div>{{p5}}</div>
        </div>

        <div>
            <h3><span></span> {{heading6}}</h3>
            <div>{{p6}}</div>
        </div>

    </div>
</template>

<script>

    export default {

        props:{
            heading1:String,
            heading2:String,
            heading3:String,
            heading4:String,
            heading5:String,
            heading6:String,

            p1:String,
            p2:String,
            p3:String,
            p4:String,
            p5:String,
            p6:String,




        },

        components:{


        },


        methods:{

        }
    }
</script>

<style lang="scss" scoped>


</style>
