<template>
    <div class="contenu">
        <div class="content">
            <div class="titre">
                <span>!</span>
                <span>!</span>
                <p id="text">Envoyer ?</p>
            </div>
        </div>
        <hr>
        <p>Voulez-vous vraiment envoyer une requette ? verifier l'authenticité de vos informations</p>
        <div class="lien">
            <a href="#">Annuler</a>
            <a href="#">Modifier</a>
            <a href="#" id="btn">Envoyer</a>

        </div>

    </div>
</template>

<script>

    export default {
        name: 'confirmation d envoie',
        components: {


        }
    }
</script>
