<template>
    <div class="mybut_grid">
        <my-button buttonLabel="Debut">
            <template slot="butText">Support Numérique Offert</template>
        </my-button>
        <my-button buttonLabel="Heures">
            <template slot="butText">
                06 heures/Semaines.
                <span class="personnalisables">Personnalisables</span>
            </template>
        </my-button>
        <my-button buttonLabel="Durée">
            <template slot="butText">04 mois</template>
        </my-button>
        <my-button buttonLabel="Prerequis">
            <template slot="butText">Savoir manipuler un Ordinateur, Savoir Calculer</template>
        </my-button>
    </div>
</template>

<script>
    import MyButton from "./excelbut";

    export default {
        components: {
            "my-button": MyButton
        }
    };
</script>

<style lang="scss" scoped>
</style>
