<template>
    <div>

        <header-global></header-global>


                 <router-view></router-view>

        <footer-global></footer-global>
    </div>
</template>

<script>

    import headerGlobal from './../global/header.vue'
    import  footerGlobal from  './../global/footer.vue'
    import service from './../component/service/service'
    export default {
        name: "layout-base",

        components : {
            headerGlobal, footerGlobal,service
        }
    }
</script>

<style scoped>

</style>
