*{
  margin:0;
  padding:0;
}

div.color {
  display: flex;
  position: relative;
  box-sizing: border-box;


  .One{
    width:45%;
  }

  .Two{
    width:55%;
    padding-left:10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;


    text-align:left;

    div:nth-child(1){
      font-size: 3rem;
      font-weight: 900;
      color:white;
      margin-bottom:10px;
    }
    .hr{
      width:30%;
      height:.1px;
      position:relative;
      left:0;
      border: 2px solid white;
      margin-bottom: 30px;
    }

    div:nth-of-type(3){
      margin-bottom:20px;
    }

    a{
      display:inline-block;
      padding: 0.7em 3em;
      text-decoration:none;
      background: black;
      color: white;
      margin-bottom: 5em;
    }
  }

  .floating-container{
    position:absolute;
    width:20%;
    height:200px;
    left:33%;
    justify-self: center;
    display:flex;
    flex-direction:column;
    img{
      top:10%;
      position:absolute;
      width:100%;
      height:60vh;
      z-index:5;

    }

  }


}



.bgOrange{


  .One{
    background-image:linear-gradient(to bottom, rgba(255, 162, 0, 0.7),rgba(255, 162, 0, 0.7)),url('/../img/Groupe 94.png');

  }

  .Two{
    background:#ffa200;

  }
}



.bgBlue{


  .One{
    background-image:linear-gradient(to bottom, rgba(0, 136, 255, 0.7), rgba(0, 136, 255, 0.7)),url('/../img/Groupe 94.png');
  }

  .Two{
    background:#0088ff;
  }
}



.bgRed{


  .One{
    background-image:linear-gradient(to bottom, rgba(255, 52, 0, 0.7), rgba(255, 52, 0, 0.7)),url('/../img/Groupe 94.png');

  }

  .Two{
    background:#ff3400;

  }
}


.bgIndigo{


  .One{
    background-image:linear-gradient(to bottom, rgba(255, 0, 238, 0.7), rgba(255, 0, 238, 0.7)),url('/../img/Groupe 94.png');

  }

  .Two{
    background:#ff00ee;

  }
}


@media (max-width:1000px){
  div.colorBackgroundMaster{
    flex-direction: column;

    .One{
      width:100%;
      height:60vh;
    }
    .floating-container{
      img{
        width:120%;
        height: 50vh;
      }
    }

    .Two{
      width:100%;
      display:flex;
      flex-direction:column;
      align-items:center;
      .hr{
        width:100%;

        a{
          justify-self: center;
        }
      }
    }
  }

}

@media (max-width:700px){

  div.colorBackgroundMaster{
    .floating-container{

      img{
        width:100%;
      }
    }

  }
}
