$valeur:300px;
@mixin grid($valeur) {
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax($valeur,1fr));
  grid-gap:10px;
}



%p{
  font-family:'Segoe UI light';
  font-size:20px;
  text-align:center;
}
%grand{
  font-family:'Segoe UI light';
  font-size:60px;
  text-align:center;
}
%petit{
  font-family:'Segoe UI regular';
  font-size:30px;
}
$orange:#ffa200;
$noir:#201101;

.contain{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;
  width:70%;
  height:auto;
  margin:0 auto;
  background:white;
  box-shadow: 10px 5px 24px -8px $orange;
  padding:20px 20px;
  #grand{
    width: 100%;
    display:flex;
    justify-content:space-between;
    h3{
      color:$orange;
      text-align:left;
      @extend %petit;
      display:inline-block;
    }
    &::after{
      content:'x';
      display:inline-block;
      transform:translateY(30%);
      @extend %petit;
      color:$noir;
    }
  }
  hr{
    width:100%;
    transform:translateY(-30px);
  }
  p{
    @extend %p;
  }
  .donnees{
    @include grid($valeur:400px);
    padding:10px 20px;
    width:100%;
    overflow: hidden;
    article{
      margin:10px;
      @extend %p;
      text-align:left;
      .espace{
        position:relative;
        &::after{
          content: 'x';
          position:absolute;
          display:inline-block;
          width:16px;
          height:16px;
          right:20%;
        }
        #text{
          width:80%;
          height:30px;
          top:5px;
        }
      }
      ul{
        list-style:none;
        li{
          display:inline-block;
          &:nth-child(2){
            transform:translateX(50%);
            display:inline-block;
          }
          .co{
            display:inline-block;
            #coche{
              position:absolute;
              width:15px;
              height:15px;
              appearance: none;
              border:none;
              text-align:center;
              opacity:0;
              transform: translate(-25px,3px);
            }
            &::before{
              content:'';
              display:inline-block;
              width: 15px;;
              height:15px;
              border:1px solid $noir;
              border-radius:50%;
              opacity:1;
              //margin:5px;
              top:10px;
            }

          }

          span#pa{
            display:inline-block;
            transform:translate(8px,-8px);
          }

        }
      }
      textarea{
        width:90%;
        top:10px;
        height:200px;
        position: relative;
      }
      .file{
        border-top:1px solid rgb(0, 0, 0, .4);
        width:250px;
        position:relative;
        left:5%;
        top:5%;
        width:70%;

        a{
          text-decoration:none;
          cursor: pointer;
          color:rgb(0, 0, 0, .4);
          margin-left:10px;
        }
        span{
          display:inline-block;
          margin-top:10px;
          font-size:15px;
          margin-left:20px;
        }
      }
      #icon{
        width:100%;
        padding:40px 20px;
        li#font{
          display:inline-block;
          width:40px;
          height:40px;
          margin:5px;
          background: #ddd;
          text-align:center;
          &:nth-child(3){
            margin-left:50px;
            margin-right:30px;
          }

          a{
            text-decoration:none;
            cursor:pointer;
            color:$noir;
          }
        }
      }
    }
  }
  .sub{
    display:block;
    width:50%;
    transform:translateX(50%);
    a{
      cursor: pointer;
      text-decoration:none;
      color:$noir;
      margin:20px;
      float:right;
      padding:10px 50px;
    }
    a#btn{
      color:white;
      background: $orange;
      border-radius: 5px;

    }

  }
}
.cocher {
  background: url("/../img/icone1.png") center;
  opacity: 1;
  visibility: visible;
  background-repeat: no-repeat;
  background-size:20px 20px;
}
@media screen and (max-width:800px){
  .contain{
    width:fit-content;
    overflow:hidden;
    padding:20px 10px;
    .donnees{
      width:100%;
      article{
        text-align:center;
        padding:20px 20px;
        ul{
          transform:translateX(-15%);
        }
        #icon{
          transform:translateX(5px);
        }
      }
    }
    .sub{
      transform:translate(-15%,-50%);
    }

  }
}
