@import 'module/formationCard.scss';

$color: orange;

body {
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 0;
}

.line {
  height: 2px;
  display: block;
  width: 250px;
  background-color: $color;
  border: 2px solid orange;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin: 40px;
  flex-wrap: wrap;
}

.formation-select {
  display: flex;
  position: relative;
  margin: 40px;
}

i {
  position: absolute;
  top: 10px;
  left: 10px;
}

.texts {
  width: 1100px;
  padding-left: 30px;
  height: 30px;
}

select {
  margin-left: 20px;
  width: 20%;
  background-color: grey;
  height: 35px;
}

p {
  text-align: justify;
  margin: 40px;
}



@media (max-width:780px) {
  .formation-select {
    display: flex;
    height: 100%;
    position: absolute;
  }

  i {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .texts {
    width: 500px;
    padding-left: 30px;
    height: 30px;
  }

  select {
    margin-left: 20px;
    width: 20%;
    background-color: grey;
    height: 35px;
  }

  p {
    text-align: center;
  }
}

@media (max-width:500px) {
  .formation-select {
    display: flex;
    height: 100%;
    position: absolute;
  }

  i {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .texts {
    width: 200px;
    padding-left: 25px;
    height: 30px;
  }

  select {
    margin-left: 5px;
    width: 30%;
    background-color: grey;
    height: 35px;
  }

  p {
    text-align: center;
  }
}

@media (max-width:950px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width:780px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .formation-select {
    margin-top: 0;
  }
}

@media (max-width:625px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .formation-select {
    margin-top: 0;
  }
}
