<template>
    <div class="footer">
        <div class="wrapper">
            <div class="head-icon">
                <span class="span"></span>
                <p class="span-pa">pack premium</p>
                <i class="fas fa-chevron-circle-right"></i>
            </div>
            <div class="head-text">
                Decouvrez aussi notre offre speciale pour les startups
            </div>
            <div class="head-para">
                Dites nous de quoi vous avez besoindites nous de quoi vous avez besoinDites nous de quoi vous avez besoinDites nous de quoi vous avez besoinDites nous de quoi vous avez besoinDites nous de quoi vous avez besoin
                <div class="head-link"> <a href="#" class="deco">Decouvrir</a></div>
            </div>
        </div>
        <!-- lower div for footer -->
        <div class="contains">
            <div class="hd">
                Vous n'etes pas toujours convaincus?<br>
                ..Vous voulez discuter de votre projet?
                <div class="footer-div"></div>
            </div>

            <div class="txt">
                Dites nous de quoi vous avez besoindites nous de quoi vous avez besoindites nous de quoi vous avez besoindites nous de quoi vous avez besoindites nous de quoi vous avez besoindites nous de quoi vous avez besoin
            </div>
            <div class="footer-inputs">
                <div class="footer-input">
                    <div class="footer-fields">
                        <label for="name">Votre Nom</label><br>
                        <input type="text"><br>
                        <label>Votre Telephone</label><br>
                        <input type="text"><br>
                        <label for="email">Votre Email</label><br>
                        <input type="email">
                    </div>
                    <div class="footer-field">
                        <label for="name">Etes vous un particulier ou une entreprise?</label><br>
                        <li><div class="check"><input type="checkbox"></div><span class="circle"> Particulier</span></li>
                        <li><div class="check"><input type="checkbox"></div><span class="circle"> Entreprise</span></li>
                        <label for="name">Nom de votre entreprise/vos Services</label><br>
                        <input type="text"><br>
                        <label for="name">Secteur d'activité</label><br>
                        <input type="text"><br>
                    </div>
                </div>
                <button class="footer-btn"><a href="#" class="send">Envoyer</a></button>
            </div>
            <!-- <div class="contain">
                <div class="donnees">
                    <article>
                        <label for="name">votre Nom</label>
                        <div class="espace"> <input type="text" id="text"> </div>
                        <br><label for="name">Votre Téléphone</label>
                        <div class="espace"> <input type="text" id="text"> </div>
                        <br><label for="name">Votre email</label>
                        <div class="espace"> <input type="text" id="text"></div>
                    </article>
                    <article>
                        <label for="name">Etes vous un particulier ou une entreprise?</label>
                        <ul>
                            <li><div class="co"> <input type="checkbox" id="coche"></div><span id="pa">particulier</span></li>
                            <li><div class="co"><input type="checkbox" id="coche"></div><span id="pa">entreprise</span></li>
                        </ul>
                        <label for="name">Nom de votre entreprise/vos Services</label>

                        <div class="espace"> <input type="text" id="text"></div>
                        <br><label for="name">Secteur d'activité</label>
                        <div class="espace"> <input type="text" id="text"></div>
                    </article>
                </div>
                <button class="btn"><a href="#" class="send">Envoyer</a></button>
            </div> -->

            <div class="log">
                <img src="/img/logo1.png" alt="">
                <div class="line"></div>
            </div>

            <div class="ending">
                <div class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus recusandae repellendus adipisci assumenda? Et, cum ullam. Vel reiciendis expedita soluta, fugit architecto quidem magni recusandae eos amet quo perspiciatis perferendis.
                </div>
                <div class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus recusandae repellendus adipisci assumenda? Et, cum ullam. Vel reiciendis expedita soluta, fugit architecto quidem magni recusandae eos amet quo perspiciatis perferendis.
                </div>
                <div class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus recusandae repellendus adipisci assumenda? Et, cum ullam. Vel reiciendis expedita soluta, fugit architecto quidem magni recusandae eos amet quo perspiciatis perferendis.
                </div>
                <div class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus recusandae repellendus adipisci assumenda? Et, cum ullam. Vel reiciendis expedita soluta, fugit architecto quidem magni recusandae eos amet quo perspiciatis perferendis.
                </div>
            </div>
            <div class="mother">
                <div class="child1">
                    <p><a href="#">upgradegroup.org</a></p>
                    <p><a href="#">upgradegroup@gmail.com</a></p>
                </div>
                <div class="child2">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
import '../../../public/css/fontawesome-free-5.11.2-web/css/all.css'
export default {
    
}
</script>
