<template>
    <header>
        <div class="hamburger" v-on:click="toggle()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <div class="change"></div>
        <div class="container">
            <div class="logo">
                <div><img src="../../../public/img/logo1.png" alt=""></div>
                <div class="hide" id="links">
                    <a href="#">Services</a>
                    <a href="#">Offres</a>
                    <a href="#">Formations</a>
                    <a href="#">qui nous sommes</a>
                    <a href="#">Contacter</a>
                    <a href="#">Devis</a>
                    <a href="#">Newsletter</a>

                </div>

                <div class="colinks">
                    <a href="#">Services</a>
                    <a href="#">Offres</a>
                    <a href="#">Formations</a>
                    <a href="#">qui nous sommes</a>
                    <a href="#">Contacter</a>
                </div>

            </div>
            <div class="left-link">
                <a href="#">Devis</a>
                <a href="#">Newsletter</a>
            </div>
        </div>
    </header>
</template>

<script>

    import './header'

    export default {
        methods:{

            toggle:function(){
                if(document.getElementById('links').className=="show"){
                    document.getElementById('links').className="hide";
                }else{
                    document.getElementById('links').className="show";
                }
            }
        }

    }
</script>

